In [1]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv(r'D:\Coding\last-mile-route-deviation-analytics\data\raw\routes_performance.csv')

In [13]:
df.shape

(249231, 16)

In [17]:
df.columns

Index(['Route ID', 'Driver ID', 'Stop ID', 'Address ID', 'Week ID', 'Country',
       'Day of Week', 'IndexP', 'IndexA', 'Arrived Time', 'Earliest Time',
       'Latest Time', 'DistanceP', 'DistanceA', 'Depot', 'Delivery'],
      dtype='object')

In [23]:
df.head()

,Route ID,Driver ID,Stop ID,Address ID,Week ID,Country,Day of Week,IndexP,IndexA,Arrived Time,Earliest Time,Latest Time,DistanceP,DistanceA,Depot,Delivery
0,0,0,0,0,0,1,Monday,0,0,42.275,0.0,360.0,0.000000,0.000000,1,0
1,0,0,1,1,0,1,Tuesday,1,4,332.788,240.0,480.0,16.329053,16.329053,0,1
2,0,0,2,2,0,1,Tuesday,2,5,332.956,120.0,540.0,0.373110,0.373110,0,1
3,0,0,3,3,0,1,Monday,3,2,244.994,60.0,540.0,2.491915,0.000000,0,1
4,0,0,4,3,0,1,Monday,4,1,244.855,60.0,540.0,0.000000,13.944962,0,1

In [27]:
df.tail()

,Route ID,Driver ID,Stop ID,Address ID,Week ID,Country,Day of Week,IndexP,IndexA,Arrived Time,Earliest Time,Latest Time,DistanceP,DistanceA,Depot,Delivery
249226,19646,98,3414,3119,31,1,Thursday,5,9,443.136,360.0,480.0,0.086111,0.086111,0,1
249227,19646,98,4664,4165,31,1,Thursday,6,5,377.330,420.0,480.0,0.332311,0.026839,0,1
249228,19646,98,5802,5066,31,1,Thursday,7,4,342.467,360.0,480.0,0.026839,6.819940,0,1
249229,19646,98,133,119,31,1,Thursday,8,7,405.515,435.0,495.0,0.070654,0.016785,0,1
249230,19646,98,2263,2087,31,1,Thursday,9,6,392.282,360.0,480.0,0.016785,0.071351,0,1

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249231 entries, 0 to 249230
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Route ID       249231 non-null  int64
 1   Driver ID      249231 non-null  int64
 2   Stop ID        249231 non-null  int64
 3   Address ID     249231 non-null  int64
 4   Week ID        249231 non-null  int64
 5   Country        249231 non-null  int64
 6   Day of Week    249231 non-null  object
 7   IndexP         249231 non-null  int64
 8   IndexA         249231 non-null  int64
 9   Arrived Time   249231 non-null  float64
 10  Earliest Time  249231 non-null  float64
 11  Latest Time    249231 non-null  float64
 12  DistanceP      249231 non-null  float64
 13  DistanceA      249231 non-null  float64
 14  Depot          249231 non-null  int64
 15  Delivery       249231 non-null  int64
dtypes: float64(5), int64(10), object(1)
memory usage: 30.4+ MB

## Data Grain
- One row is one stop.
- A route is made of many rows.
- You can group data by route, driver, week, or country.
- Warning: Never average rows directly. You must group them by route first.

## Time Meaning
- Time columns are not clock times (like 2:00 PM).
- They are "minutes from the start."
- Arrived Time: When the driver reached the stop.
- Earliest/Latest Time: The allowed delivery window.
- SLA Failure: This happens if Arrived Time is greater than Latest Time.

## Planned vs. Actual Sequence
- IndexP: The sequence the computer planned.
- IndexA: The sequence the driver actually followed.
- If these numbers do not match, the driver deviated from the path.
- Judge the impact by looking at the whole route, not just one stop.

## Distance Interpretation
- DistanceP/A: The distance from the previous stop only.
- A distance of zero means the driver is at the depot or has two deliveries at one house.
- To find the total distance, sum the rows. Do not average them.
- Compare the total actual distance to the total planned distance to find efficiency loss.